:root {
    --navbar-width: 280px;
}
body {
    background-image: linear-gradient(to right top, #d7e4d7, #9dbab1, #659094, #386679, #1e3c5b);
}

/* Typography */
.kaushan-script {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    color: #1E3C5B;
}
.merienda {
    font-family: 'Merienda';
}
p {
    color: #D7D5C1;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.glow {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #D7D5C1, 0 0 70px #D7D5C1, 0 0 80px #D7D5C1, 0 0 100px #D7D5C1, 0 0 150px #D7D5C1;

}
a {
    text-decoration: none;
}
/* //Typography */

/* DISPLAY SETUP */
.full-display-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(211, 211, 211, 0.2);
}
/* //DISPLAY SETUP */


img {
    width: 100%;
}




.about-card-bg {
    background-image: linear-gradient(to right top, #74797a, #5b6b70, #435c69, #2e4c62, #1e3c5b);
    box-shadow: 12px 10px 14px 0px rgba(30,60,91,0.84);
}




/*test area*/
.hero-disc {
    font-size: 2.2rem;
}
.project-card {
    background-image: linear-gradient(to right top, #74797a, #5b6b70, #435c69, #2e4c62, #1e3c5b);
    box-shadow: 12px 10px 14px 0px rgba(30,60,91,0.84);
}












                                     /* FINAL PRODUCTION */

/* NAVBAR */
.navbar {
    background-color: #0cbaba;
    background-image: linear-gradient(to right top, rgb(215, 228, 215, .8), rgb(157, 186, 177, .8), rgb(101, 144, 148, .8), rgb(56, 102, 121, .8), rgb(30, 60, 91, .8)), url(../images/great-wave-kanagawa.jpg);
}

@media (min-width: 990px) {
    .navbar {
        min-height: 100vh;
        width: var(--navbar-width);
        background: linear-gradient(to right top, rgb(215, 228, 215, .8), rgb(157, 186, 177, .8), rgb(101, 144, 148, .8), rgb(56, 102, 121, .8), rgb(30, 60, 91, .8)), url(../images/great-wave-kanagawa.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .navbar-brand img {
        border: 5px solid #1E3C5B;
        box-shadow: 8px 9px 14px 0px rgba(30,60,91,0.84);
    }

    #content-wrapper {
        padding-left: var(--navbar-width);
    }
}

.nav-link {
    color: #1E3C5B;
    font-weight: bold;
}
ul {
    font-size: 1.3rem;
    line-height: 2rem;
}
.record-player{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(/images/vinyalRecord.jpg);
    background-size: cover;
    animation: spin 25s linear infinite;
    margin: auto;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
#audio {
    display: none; 
}
/* //NAVBAR */

/* HERO SECTION */
.push-btn {
    background-image: linear-gradient(to right bottom, rgb(30, 60, 91, .9), rgb(30, 60, 91, .9));
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    margin-right: 2em;
}
.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background-image: linear-gradient(to right bottom, rgb(215, 228, 215, .8), rgb(157, 186, 177, .8), rgb(101, 144, 148, .8), rgb(56, 102, 121, .8), rgb(30, 60, 91, .8)), url(../images/great-wave-kanagawa.jpg);
    background-position: center;
    background-size: contain;
    color: black;
    font-weight: bold;
    transform: translateY(-6px);
}
.push-btn:active .front {
    transform: translateY(-2px);
}

.loading-text {
    display: block;
    width: 500px;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin: 0 0;
    border: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: 12px 10px 14px 0px rgba(30,60,91,0.84);
    padding: 5px 2px;
    font-size: 1.2em;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: black;
}
.loading-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(55, 255, 20, 0.5);
    z-index: 0;
    animation: fillLoadingBar 10s ease-in-out forwards;
}

@keyframes fillLoadingBar {
    from { width: 0; }
    to { width: 33%; }
}

.call-link {
    color: #D7D5C1;
    font-size: 1.3em;
}
.call-link:hover {
    color: rgb(218, 213, 213);
}
/* //HERO SECTION */


/* TOOLKIT */
.toolkit-icon-container {
    background-image: linear-gradient(to right bottom, rgb(215, 228, 215, .8), rgb(157, 186, 177, .8), rgb(101, 144, 148, .8), rgb(56, 102, 121, .8), rgb(30, 60, 91, .8));
    width: 60px;
    height: 60px;
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: center;
}
.toolkit-card {
    background-image: linear-gradient(to right top, #74797a, #5b6b70, #435c69, #2e4c62, #1e3c5b);
    box-shadow: 12px 10px 14px 0px rgba(30,60,91,0.84);
}
/* //TOOLKIT */


/* CONTACT CENTER */

/* //CONTACT CENTER */

/* FOOTER SECTION */
.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #D7D5C1;
    background-image: linear-gradient(to right top, #74797a, #5b6b70, #435c69, #2e4c62, #1e3c5b);
    border-radius: 100px;
    font-size: 24px;
}
/* //FOOTER SECTION */
